{% extends 'base.html.twig' %}

{% block title %}Modele index{% endblock %}

{% block body %}
    <h1>Modele index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Marque</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for modele in modeles %}
            <tr>
                <td>{{ modele.id }}</td>
                <td>{{ modele.nom }} </td>
                <td>{{ modele.prix }}{{" $"}}</td>
                <td>{{ modele.marque.nom }}</td>
                <td>
                    <a href="{{ path('app_modele_show', {'id': modele.id}) }}">show</a>
                    <a href="{{ path('app_modele_edit', {'id': modele.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_modele_new') }}">Create new</a>
{% endblock %}
